<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>startButton_gameActive</key>
	<string>Running</string>
	<key>startButton_gameInactive</key>
	<string>Start</string>
	<key>displayTextView_gameInactive</key>
	<string>Press Start</string>
	<key>x_winner</key>
	<string>Game is over. You won!</string>
	<key>o_winner</key>
	<string>Game is over. Computer won!</string>
	<key>tie_winner</key>
	<string>Game is over. No one won!</string>
	<key>no_winner</key>
	<string>Game ended.</string>
	<key>blank</key>
	<string></string>
	<key>square0</key>
	<string>Button 0 pressed.</string>
	<key>square1</key>
	<string>Button 1 pressed.</string>
	<key>square2</key>
	<string>Button 2 pressed.</string>
	<key>square3</key>
	<string>Button 3 pressed.</string>
	<key>square4</key>
	<string>Button 4 pressed.</string>
	<key>square5</key>
	<string>Button 5 pressed.</string>
	<key>square6</key>
	<string>Button 6 pressed.</string>
	<key>square7</key>
	<string>Button 7 pressed.</string>
	<key>square8</key>
	<string>Button 8 pressed.</string>
</dict>
</plist>
